.feyman__link{
  position: absolute;
  top: 50%;
  font-size: 36px;
  line-height: 51px;
  right: 48px;
  text-decoration: none;
  z-index: 1;
  color: #2f80ed;
}
.feyman__link:hover{
  text-decoration: underline;
  opacity: 50%;
}
